
form[name="checkout"] {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: fit-content;
}


form .title {
    width: 100%;
    border-bottom: 1px solid var(--clr-1-3);
    margin-bottom: 20px;
}


form .input {
    margin: 10px 0px;
    position: relative;
    width: 100%;
    
}

form .input.half {
    width: calc(50% - 10px);
}

form .input.quarter {
    width: calc(25% - 10px);
}

form .input:nth-child(2), form .input:nth-child(4), form .input:nth-child(7) {
    margin-right: 20px;
}

form .input:nth-child(5) {
    margin-right: 10px;
}


form .input input {
    border-radius: var(--border-radius);
    border: 1px solid #999;
    padding: 13px 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    transition: all 300ms ease-in-out;
    background: transparent;
}

form .input input[name="zipCode"] {
    text-transform: uppercase;
}


form .input .input__label {
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    background: white;
    color: #555;
    transition: all 300ms ease-in-out;
    transform-origin: bottom left;
    pointer-events: none;
}

form .input .input__error {
    font-family: 'Work Sans', sans-serif;
    line-height: 2;
    margin-left: 5px;
    font-size: 10.5px;
    color: var(--clr-4);
}


form .input input:hover, form .input input:focus, form .input input.filled {
    border: 1px solid var(--clr-1-1);
}

form .input input:focus ~ .input__label, 
form .input input.filled ~ .input__label {
    transform: scale(.75) translate(-3px, -36px);
    padding: 2px 5px;
    color: var(--clr-1-1);
    border-radius: var(--border-radius);
}

form .input input.error {
    border: 1px solid var(--clr-4);
}

form .input input.error:focus ~ .input__label {
    transform: scale(.75) translate(-3px, -36px);
    padding: 2px 5px;
    color: var(--clr-4);
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 700px) {
    form .input.half, form .input.quarter {
        width: 100%;
        margin-right: 0;
    }

    form .input input, form .input .input__label {
        font-size: 15px;
    }
}


/* FORM BUTTONS */
form:not(.overview__checkout) button {
    margin: 20px 0 0 auto;
}




/* RADIO BUTTONS */


form input[type="radio"] {
    display: none;
}

form .radio {
    cursor: pointer;
    padding: 11px 15px;
    width: 100%;
    margin: 10px 0px;
    border: 1.4px solid #999;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    position: relative;
    transition: all 300ms ease-in-out;
}

form .radio__button {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1.5px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}


form .radio__button::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}


form input[type="radio"]:checked + .radio .radio__button::before {
    background: var(--clr-1-1);
    border-color: red;
}

form input[type="radio"]:checked + .radio {
    border: 1.4px solid var(--clr-1-1);
    background: var(--clr-1-4);
}

.radio__text {
    margin-left: 25px;
    font-size: 15px;
}

.radio__img {
    height: 20px;
    position: absolute;
    right: 15px;
}

.radio__img.creditcard {
    right: 18.5px;
}

