
/* ########## GENERAL SETTINGS ########## */
:root {
	--clr-1-1: #3A524D;
	--clr-1-2: #3A524D65; 
	--clr-1-3: #3A524D3D;
	--clr-1-4: #3A524D15;


	--clr-2-1: #C8764E;
	--clr-2-2: #E8A68E; 
	--clr-2-3: #cf947e4f;

	--clr-3-1: #333;
	--clr-3-2: #999;
	--clr-3-3: #ececec;

	--clr-4: #ce0000;

	--clr-bg: #fbfbfb;
	--border-radius: 5px;
	--website-width: 1286px;
	--boxshadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
	text-decoration: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
::selection {
	background: var(--clr-1-3);
}
::-moz-selection {
	background: var(--clr-1-2);
}
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
section, .breadcrumbs, .StepIndicator {
	max-width: var(--website-width);
	width: 95%;
}

@media only screen and (max-width: 900px) {
	main {
		padding: 80px 0;
	}
}




/* ########### MESSAGES ########## */

.message {
	font-size: 14px;
	padding: 1px 10px;
	border-radius: var(--border-radius);
	width: fit-content;
}

.message.green {
	color: var(--clr-1-1);
	border: 1px solid var(--clr-1-1);
	background-color: var(--clr-1-3);
}

.message.orange {
	color: var(--clr-2-1);
	border: 1px solid var(--clr-2-1);
	background-color: var(--clr-2-3);
}





/* ########## BUTTONS ########## */

.button-1 {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	outline: none;
	min-height: 40px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 5px;
	overflow: hidden; 
	transition: all 200ms ease-in-out;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	border: none;
	color: white;
	background: var(--clr-2-1);
	padding: 15px 33px;
	display: flex;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

.button-1:hover {
	box-shadow: 0 4px 11px var(--clr-2-3);
	transform: translateY(-3px);
}

.button-2 {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	outline: none;
	min-height: 40px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 5px;
	overflow: hidden; 
	transition: all 300ms ease-in-out;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	border: 1px solid var(--clr-1-1);
	color: var(--clr-1-1);
	padding: 13px 33px;
	background: transparent;
}

.button-2:hover {
	background: var(--clr-1-1);
	color: white;
}

@media only screen and (max-width: 767px) {
	.button-1, .button-2 {
		font-size: 15px;
	}
}



/* ########## LOADING ANIMATIONS ########## */

.loading1::after {
	content: "";
	width: 28px;
	height: 28px;
	border: 4px solid transparent;
	border-radius: 50%;
	animation: loading1 1.2s infinite;
	display: flex;
	border-top-color: white;
}


@keyframes loading1 {
	from {
		transform: rotate(0deg); /* rotate(0turn) */
		/* border-left-color: transparent;
		border-bottom-color: transparent; */
	}

	to {
		transform: rotate(360deg); /* rotate(1turn) */
		/* border-left-color: white;
		border-bottom-color: white; */
	}
}


.loading-2 {
	/* display: inline-block; */
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.loading-2 div {
	/* display: block; */
	position: absolute;
	width: 28px;
	height: 28px;
	margin: 8px;
	border: 5px solid #fff;
	border-radius: 50%;
	animation: loading2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.loading-2 div:nth-child(1) {
	animation-delay: -0.45s;
}
.loading-2 div:nth-child(2) {
	animation-delay: -0.3s;
}
.loading-2 div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes loading2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* GENERAL CSS SETTINGS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
